doctype html
html
  head
    title Game Reviews
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js', integrity='sha384-PCVHz7nv5tta6ui3jOyeKsL/9Il52BgjOD3im6SrdhBZZJ1zQmsH8rdI8J0nI3k2', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyD8J6EL9z1l3/Jp/CAqAwr+Y41BqcQ1R9', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
