extends layout

block content
    .container
      .row
        .col-md-6.offset-md-3
          h2 Rejestracja
          form(action='/users/signup', method='post')
            .form-group
              label(for='login') Nazwa użytkownika
              input#login.form-control(type='text', name='login', required)
            .form-group
              label(for='password') Hasło
              input#password.form-control(type='password', name='password', required)
            .form-group
              a SQL Injection sample: "etno2'); DELETE FROM reviews; --"
              br
              label(for='displayName') Wyświetlana nazwa
              input#displayName.form-control(type='text', name='displayName', required)
            button.btn.btn-primary(type='submit') Zarejestruj się
        a.link-primary(href='/') Zaloguj się
